@charset "UTF-8";


body{
    background-color: rgb(35, 37, 37);
}
header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}
.tudo{
    background-color: rgb(86, 166, 236);
    padding: 5px;
    margin: auto;
}
.corpo {
    width: 500px;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
}
.cima {
    border-radius: 4px;
    width: 490px;
    height: 75px;
    text-align: end;
    font-size: 2em;
    background: white;
    margin: auto;
}
.btn {
    width: 120px;
    height: 60px;
    font-size: 27px;
}




